body{
    height: 96vh;
    background-image: url("https://pbs.twimg.com/media/Evri1c8XMAIo35Q?format=jpg&name=large");
    background-color: #6A0808;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #formulario{
    background-color: rgba(103, 2, 2, 0.61);
    border-radius: 50px;
    border: none;
  
    width: 440px;
    height: 600px;
  
    display: flex;
    flex-direction: column;
  
    color: white;
    font-family: 'Rampart One', sans-serif;
  }
  
  h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 45px;
    font-weight: lighter;
  }
  
  input{
    outline: none;
    border: none;
    border-radius: 10px;
  
    background-color: #6A0808;
    color: white;
  
    width: 350px;
    height: 50px;
  
    padding-left: 30px;
  }
  
  input,
  label{
    margin-left: 30px;
  }
  
  #btn{
    display: flex;
    justify-content: center;
    margin-top: 85px;
  }
  
  #btnCadastro{
    display: flex;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 15px;
  }
  
  button{
    color: white;
    background-color: #6A0808;
  
    border: none;
    border-radius: 25px;
  
    width: 160px;
    height: 50px;
  }
  
  ::placeholder{
    color: white;
  }
  
  small{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    gap: 4px;
  }
  
  a{
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
  }
  
  small a:hover{
    text-decoration: underline;
    /* color: rgb(255, 94, 94); */
  }